@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';
:root {
  --text-color: red;
  --blue-color: #438db8;
  --white-color: #ffffff;
  --blue-text: #438db8;
  --link-color: #666666;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.text-color {
  color: var(--text-color);
}
.blue-color {
  background-color: var(--blue-color);
}
.blue-text {
  color: var(--blue-text);
}
.link-color {
  color: var(--link-color);
}
.white-color {
  background-color: var(--white-color);
}
.white-text {
  color: var(--white-color);
}

.icon {
  background-color: var(--white-color);
  padding: 0.02rem 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
