@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';
:root {
  --red-color: #d72a48;
  --blue-color: #438db8;
  --white-color: #ffffff;
  --blue-text: #438db8;
  --link-color: #666666;
  --background-color: #bebcbd;
  --body-color: #f9f9f9;
  --overlay-color: #00000026;
  --overlay-text-color: #f6f6f6;
  --product-name-color: #3e3e3e;
  --discount-price-color: #bebcbd;
  --border-color: #f5f5f5;
  --icon-background-color: #f6f6f6;
}
body {
  background-color: var(--body-color);
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.body-color {
  background-color: var(--body-color);
}
.text-color {
  color: var(--text-color);
}
.blue-color {
  background-color: var(--blue-color);
}
.blue-text {
  color: var(--blue-text);
}
.link-color {
  color: var(--link-color);
}
.white-color {
  background-color: var(--white-color);
}
.white-text {
  color: var(--white-color);
}
.background-color {
  background-color: var(--background-color);
}
.overlay-color {
  background-color: var(--overlay-color);
}
.overlay-text-color {
  color: var(--overlay-text-color);
}
.product-name-color {
  color: var(--product-name-color);
}
.discount-price-color {
  color: var(--discount-price-color);
}
.red-color {
  background-color: var(--red-color);
}
.border-color {
  border-color: var(--border-color);
}
.icon {
  background-color: var(--white-color);
  padding: 0.02rem 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-background-color {
  background-color: var(--icon-background-color);
  padding: 0.02rem 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  position: relative;
  margin-bottom: 0;
}

.slider-container .slick-dots {
  bottom: 20px;
  z-index: 10;
  margin-bottom: 0;
}
.slider-container .slick-dots li {
  margin: 0 12px;
}

.slider-container .slick-dots li button:before {
  content: '';
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  opacity: 1;
}

.slider-container .slick-dots li.slick-active button:before {
  background-color: var(--blue-text);
  width: 30px;
}

.slider-container .slick-dots li button {
  width: 30px;
  height: 5px;
}
.slider-container .slick-list {
  overflow: hidden;
  margin-bottom: 0;
}

/* .slider-container .slick-slide > div {
  margin: 0;
} */
.product-slider-container .slick-slide > div {
  margin: 0 8px;
}
